<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>{% block title %}Master the Jo&#773;yo&#773;{% endblock %}</title>
    <style type="text/css">
	    body {
	    padding-top: 65px;
	    }
	    .popover-content {
		    font-size: 12px;
		}
		.popover-title  {
		    font-size: 20px;
		}
    </style>
    <script type="text/javascript">
        {% block js %}{% endblock %}
	</script>
    
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Master the Jo&#773;yo&#773;</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Character Modules</a></li>
                    <li><a href="#">Practice</a></li>
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        {% if logged_in %}
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ username }} <span class="caret"></span></a>
	                        <ul class="dropdown-menu" role="menu">
	                            <li><a href="{% url 'logout' %}">Log Out</a></li>
	                            <li><a href="#">Account Settings</a></li>
	                        </ul>
                        {% else %}
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
	                        <ul class="dropdown-menu" role="menu">
	                            <li><a href="{% url 'login' %}?next={% url 'home' %}">Log In</a></li>
	                            <li><a href="{% url 'adduser' %}">Create An Account</a></li>
	                        </ul>
                        {% endif %}
                    </li>
               </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron">
		            <h1>
		                {% block header %} Enter Page Name {% endblock %}
		            </h1>
		            {% block content %} Enter Page Content {% endblock %}
	            </div> 
	            <p>
	                {% block links %} Enter Links {% endblock %} 
	            </p>
	        </div>
	        {% block right_navbar %} Enter Navigation {% endblock %}
	    </div>
    </div>  
</body>

</html>