{% extends "no_sidebar_shell.html" %}
{% load staticfiles %}

{% block header %}
	Master the Jo&#773;yo&#773;
{% endblock %}


{% block content %}
	<p>A Comprehensive System for Learning to Read Japanese</p>
{% endblock %}

{% block links %}
	<h2>Character Modules</h2>
	<a href="{% url 'kana:hiragana' %}" class="list-group-item">
		{% if hiragana_module_finished %}
			<span class="label label-success status"> complete &nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
			Module 1: <strong>Hiragana</strong>
		{% elif hiragana_module_started %}
			<span class="label label-warning status">incomplete</span>&nbsp;&nbsp;&nbsp;&nbsp;
			Module 1: <strong>Hiragana</strong>
			<span class="label label-success pull-right" style="font-size:14px">continue &raquo;</span>
		{% else %}
			<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
			Module 1: <strong>Hiragana</strong>
			<span class="label label-success pull-right" style="font-size:14px">start &raquo;</span>
		{% endif %}	
	</a>
	<a href="{% url 'kana:katakana' %}" class="list-group-item">
		{% if katakana_module_finished %}
			<span class="label label-success status"> complete &nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
			Module 2: <strong>Katakana</strong>
		{% elif katakana_module_started %}
			<span class="label label-warning status">incomplete</span>&nbsp;&nbsp;&nbsp;&nbsp;
			Module 2: <strong>Katakana</strong>
		{% else %}
			<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
			Module 2: <strong>Katakana</strong>
		{% endif %}	
	</a>
	<a href="#" class="list-group-item">
		<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
		Module 3: <strong>First 100 Kanji</strong>
	</a>
	<a href="#" class="list-group-item">
		<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
		Module 4: <strong>Beginner Kanji</strong>
	</a>
	<a href="#" class="list-group-item">
		<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
		Module 5: <strong>Intermediate Kanji</strong>
	</a>
	<a href="#" class="list-group-item">
		<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
		Module 6: <strong>Advanced Kanji</strong>
	</a>
	<a href="#" class="list-group-item">
		<span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
		Module 7: <strong>Rare Kanji</strong>
	</a>
{% endblock %}
