{% extends "no_sidebar_shell.html" %}
{% load staticfiles %}

{% block header %}
	Master the Jo&#773;yo&#773;
{% endblock %}


{% block content %}
	<p>A Comprehensive System for Learning to Read Japanese</p>
{% endblock %}

{% block links %}
	<h2>Character Modules</h2>
	<a href="{% url 'kana:index' %}" class="list-group-item">
		{% if hiragana_section_finished %}
			<img src="{% static "img/button_complete.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
			Module 1: Hiragana
		{% elif hiragana_section_started %}
			<img src="{% static "img/button_incomplete.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
			Module 1: Hiragana
			<span class="label label-success pull-right" style="font-size:18px">continue &raquo;</span>
		{% else %}
			<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
			Module 1: Hiragana
			<span class="label label-success pull-right" style="font-size:18px">start &raquo;</span>
		{% endif %}
		
	</a>
	<a href="#" class="list-group-item">
		<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
		Module 2: Katakana
	</a>
	<a href="#" class="list-group-item">
		<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
		Module 3: First 100 Kanji
	</a>
	<a href="#" class="list-group-item">
		<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
		Module 4: Beginner Kanji
	</a>
	<a href="#" class="list-group-item">
		<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
		Module 5: Intermediate Kanji
	</a>
	<a href="#" class="list-group-item">
		<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
		Module 6: Advanced Kanji
	</a>
	<a href="#" class="list-group-item">
		<img src="{% static "img/button_not_started.jpg" %}" width="25" height="25" />&nbsp;&nbsp;&nbsp;&nbsp;
		Module 7: Rare Kanji
	</a>
{% endblock %}
