{% extends "right_sidebar_shell.html" %}


{% block title %}
	[ {{ kana.kana }} ] Master the Jo&#773;yo&#773;
{% endblock %}



{% block header %}
	<a href="{% url 'kana:detail' kana.id %}">{{ kana.kana }}</a>
{% endblock %}



{% block content %}
	<p><strong>{{ kana.pronunciation }}</strong> ({{ kana.pronunciation_tip }})
    {% if modifications %}
    <br /><em>Modifications:</em>
    {% for kana in modifications %}
        {{ kana.kana }}  ({{ kana.pronunciation }})&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
    {% endif %}	 
        </p>
    <em>Mnemonic:</em> {{ kana.mnemonic }}
	<br /><br />
	<a href="#" data-toggle="collapse" data-target="#demo">More Info</a>
    <div id="demo" class="collapse"> ... </div>
{% endblock %}



{% block section_navigation %}
   {% if section_kanas %}
       <span class="list-group-item active">{{ section_name }}</span>
    {% for section_kana in section_kanas %}
        {% if section_kana.id == kana.id %}
            <a href="{% url 'kana:detail' section_kana.id %}" class="list-group-item active">{{ section_kana.kana }}</a>
        {% else %}
            <a href="{% url 'kana:detail' section_kana.id %}" class="list-group-item">{{ section_kana.kana }}</a>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No kana are available.</p>
{% endif %}
{% endblock %}



{% block links %}
    {% if not first_in_section %}
	    <a href="{% url 'kana:detail' previousKana %}">&laquo; Previous character</a> &nbsp;&nbsp;&nbsp;&nbsp;
	{% elif not kana.id == 1 %}
	    <a href="{% url 'kana:detail' previousKana %}" style="color:#EB9316;" role="button">
	    	&lt;&lt;&lt; Previous Section</a> &nbsp;&nbsp;&nbsp;&nbsp;
	{% endif %}
	{% if not last_in_section %}
    	<a href="{% url 'kana:detail' nextKana %}" class="btn btn-primary" role="button">Next character &raquo;</a>
    {% else %}
	    <a href="{% url 'kana:detail' nextKana %}" class="btn btn-warning" role="button">Next Section &raquo;</a>
	{% endif %}
    <br /><br />
    <a href="{% url 'kana:index' %}" class="btn btn-lg btn-link" role="button">&lt;&lt;&lt; Back to Hiragana Module</a></button>
{% endblock %}

{% block left_arrow_action %}
	{% if not first_in_section %}
	    window.location = "{% url 'kana:detail' previousKana %}";
	{% else %}
	    window.location = "{% url 'kana:index' %}";
	{% endif %}
{% endblock %}

{% block right_arrow_action %}
	{% if not last_in_section %}
	    window.location = "{% url 'kana:detail' nextKana %}";
	{% else %}
	    window.location = "{% url 'kana:index' %}";
	{% endif %}
{% endblock %}




