{% extends "right_sidebar_shell.html" %}
{% load staticfiles %}

{% block title %}
	[ {{ kana.kana }} ] Master the Jo&#773;yo&#773;
{% endblock %}

{% block js %}
		
//ajax for mnemonics change
$(function() {

    $("#mnemonics_button").click(function() {
        var data = $('#mnemonics_form').serialize();
        $('#mnemonic').html('<img src="{% static "img/waiting.gif" %}" width=30 height=30>');
        $.get("{% url 'kana:mnemonics_handler' %}", data, myHandler)
        return false;
    });
    
    function myHandler(data)  {
        var obj = jQuery.parseJSON( data );
        $('#mnemonic').html('<em>Mnemonic:</em> ' + obj.mnemonics_text + '<br>');
    }
    
    $('.add_popover').popover({ html : true });
    
});

//action on left arrow (37) and right arrow (39) keypress
$(document).keydown(function(e) {
		    if (e.which == 37) { 
		       {% if not first_in_section %}
	               window.location = "{% url 'kana:detail' previousKana %}";
	           {% elif module_name == 'hiragana' %}
	               window.location = "{% url 'kana:hiragana' %}";
	           {% else %}
	               window.location = "{% url 'kana:katakana' %}";
	           {% endif %}
		       e.preventDefault();
		       return false;
		    }	
		    if (e.which == 39) { 
		       {% if not last_in_section %}
				    window.location = "{% url 'kana:detail' nextKana %}";
			   {% elif module_name == 'hiragana' %}
	               window.location = "{% url 'kana:hiragana' %}";
	           {% else %}
	               window.location = "{% url 'kana:katakana' %}";
			   {% endif %}
		       e.preventDefault();
		       return false;
		    }
		});




{% endblock %}


{% block header %}
<span style="color:#CC5200;font-size:100px;">
	{{ kana.kana }}
</span>
{% endblock %}



{% block content %}
    <div class="top_left">
	    {% if not first_in_section %}
		    <a href="{% url 'kana:detail' previousKana %}">&laquo; Previous character</a> &nbsp;&nbsp;&nbsp;&nbsp;
		{% elif not first_in_module %}
		    <a href="{% url 'kana:detail' previousKana %}" style="color:#EB9316;" role="button">
		    	&lt;&lt;&lt; Previous Section</a> &nbsp;&nbsp;&nbsp;&nbsp;
		{% endif %}
    </div>
    <div class="top_right">
	    {% if not last_in_section %}
	    	<a href="{% url 'kana:detail' nextKana %}" class="btn btn-primary" role="button">Next character &raquo;</a>
	    {% elif not last_in_module %}
		    <a href="{% url 'kana:detail' nextKana %}" class="btn btn-warning" role="button">Next Section &raquo;</a>
		{% endif %}
    </div>
    
    
	<p>
	<span style="font-size:30px">
		[ <strong>{% autoescape off %}{{ pronunciation }}{% endautoescape %}</strong> ]
	</span>&nbsp;&nbsp;
	{% if kana.pronunciation_tip %}
	    {{ kana.pronunciation_tip }}
	{% endif %}
    {% if modifications %}
    <br /><em>Modifications:</em>
    {% for kana in modifications %}
        <strong><span style="color:#CC5200;font-size:30px;">{{ kana.kana }}</span></strong>  
        ({{kana.pronunciation }})&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
    {% endif %}	 
        </p>
    <span id="mnemonic">
	    {% if user_mnemonic %}
	        <em>Mnemonic:</em> {{ user_mnemonic }}<br>
	    {% elif kana.mnemonic %}
	        <em>Mnemonic:</em> {{ kana.mnemonic }}<br>
	    {% endif %}
    </span>
    {% if kana.comment %}
        <br /><div class="alert alert-info" role="alert"><strong>note:</strong> {{ kana.comment }}</div>
    {% endif %}
	<hr>
	<a href="#" data-toggle="collapse" data-target="#demo">Show More</a>
    <div id="demo" class="collapse">
    <em>Add/Change mnemonic:</em>
	    <form name="mnemonics_form" id="mnemonics_form" action="">
	        <input type="hidden" name="kana_number" value="{{ kana.kana_order }}" />
	        <textarea name="mnemonics_text" id="mnemonics_text" rows="4" cols="50" maxlength="500"
	            >{% if user_mnemonic %}{{ user_mnemonic }}{% endif %}</textarea>
	        <input type="submit" name="submit" class="button" id="mnemonics_button" value="Submit" />
	    </form>
    </div>
{% endblock %}



{% block section_navigation %}
   {% if section_kanas %}
       <span class="list-group-item active" style="background-color:#033c73">{{ section_name }}</span>
    {% for section_kana in section_kanas %}
        {% if section_kana.kana_order == kana.kana_order %}
            <a href="{% url 'kana:detail' section_kana.kana_order %}" class="list-group-item active">
                {{ section_kana.kana_order }}. <strong>[ {{ section_kana.kana }} ]</strong>
            </a>
        {% else %}
            <a href="{% url 'kana:detail' section_kana.kana_order %}" class="list-group-item">
                {{ section_kana.kana_order }}. <strong>[ {{ section_kana.kana }} ]</strong>
            </a>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No kana are available.</p>
{% endif %}
{% endblock %}



{% block links %}
    {% if module_name == 'hiragana' %}
	    <a href="{% url 'kana:hiragana' %}" class="btn btn-lg btn-link" role="button">
	        &lt;&lt;&lt; Back to Hiragana Module
	    </a>
    {% else %}
	    <a href="{% url 'kana:katakana' %}" class="btn btn-lg btn-link" role="button">
	        &lt;&lt;&lt; Back to Katakana Module
	    </a>
    {% endif %}
{% endblock %}