{% extends "no_sidebar_shell.html" %}
{% load staticfiles %}

{% block title %}
	{{ module_name }}: Master the Jo&#773;yo&#773;
{% endblock %}

{% block header %}
	Module {{ module_number }}: {{ module_name }}
{% endblock %}


{% block content %}
	{% if sections %}
		{% for section in sections %}
		    {% if section.status == "complete" or section.status == "not_started" %}
			    <a href="{% url 'kana:detail' section.start %}" class="list-group-item">
			{% else %}
			    <a href="{% url 'kana:detail' section.status %}" class="list-group-item">
			{% endif %}
				{% if section.status == "complete" %}
     	    		<span class="label label-success status"> complete &nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
     	    	{% elif section.status == "not_started" %}
     	    	    <span class="label label-danger status">not started </span>&nbsp;&nbsp;&nbsp;&nbsp;
     	    	{% else %}
     	    	    <span class="label label-warning status">incomplete</span>&nbsp;&nbsp;&nbsp;&nbsp;
     	    	{% endif %}
     	    	Section {{ section.section }}: {{ section.name }}
     	    	{% if next_incomplete_section == section.section %}
     	    	    {% if section.status == "not_started" %}
     	    	    	<span class="label label-success pull-right" style="font-size:14px">start &raquo;</span>
     	    	    {% else %}
     	    	    	<span class="label label-success pull-right" style="font-size:14px">continue &raquo;</span>
     	    	    {% endif %}
     	    	{% endif %}
     	    </a>
		{% endfor %}
    {% else %}
        <p>No kana are available.</p>
    {% endif %}
{% endblock %}

{% block links %}
    <a href="{% url 'home' %}" class="btn btn-lg btn-link" role="button">&lt;&lt;&lt; Back to All Modules</a></button>
{% endblock %}
